<div class="mx-auto my-4 w-75 row rounded" style="border: solid black 3px">
  <div class="col-lg-1 col-sm-2 p-0 my-auto">
    <div class="rounded-circle bg-info mx-auto" style="width: 75px; height: 75px">
    </div>
  </div>
  <div class="col-lg-7 col-sm-6 text-break">
    <h3 class="modal-title">{{userPage.username}}</h3>
    <p>
      {{userPage.description}}</p>
  </div>
  <div class="col-lg-2 text-center my-auto">
    <h4>{{userPage.reputation}}</h4>
  </div>
  <div class="col-lg-2 text-center my-auto">
    <h1>#{{position}}</h1>
  </div>
</div>
