<div class="position-relative w-75 mx-auto mt-4 bg-white" style="height: 400px">
  <div class="row mx-4 pt-4">
    <div class="col-2">
      <img class="media-object img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg"
           alt="profile">
    </div>
    <div class="col-6 py-2">
      <h4 class="text-uppercase">Clayn13</h4>
      <p>
        Here goes description. Watch him as he comes.
      </p>
    </div>
    <div class="col-2 border-div">
      <div class="container w-100">
        <div class="row">
          <div class="col">1</div>
          <div class="col">2</div>
          <div class="col">3</div>
          <div class="w-100"></div>
          <div class="col">4</div>
          <div class="col">5</div>
          <div class="col">6</div>
          <div class="w-100"></div>
          <div class="col">7</div>
          <div class="col">8</div>
          <div class="col">9</div>
        </div>
      </div>
    </div>
    <div class="col-2 py-2">
      <h4>LvL: 135</h4>
      <h4>Posts: 1205</h4>
      <h4>Rep: 1209423</h4>
    </div>
  </div>
  <hr>
  <div class="mx-5" [innerHTML]="template">
  </div>

</div>
<!--<div class="card-columns w-75 my-4 mx-auto">-->
<!--  <app-top-card-->
<!--    [text]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.Some quick example text to build on the card title and make up the bulk of the card\'s content.Some quick example text to build on the card title and make up the bulk of the card\'s content.'"></app-top-card>-->
<!--  <app-top-card-->
<!--    [text]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"></app-top-card>-->
<!--  <app-top-card-->
<!--    [text]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'"></app-top-card>-->
<!--  <app-top-card-->
<!--    [text]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.Some quick example text to build on the card title and make up the bulk of the card\'s content.'"></app-top-card>-->
<!--</div>-->
